.height50 {
    height: 50px;
}
.height100 {
    height: 100px;
}
.height150 {
    height: 150px;
}
.height200 {
    height: 200px;
}
.height250 {
    height: 250px;
}
.margin10 {
    margin: 10px;
}
.margin20 {
    margin: 20px;
}
.margin30 {
    margin: 30px;
}
.margin40 {
    margin: 40px;
}
.margin50 {
    margin: 50px;
}
.marginTop10 {
    margin-top: 10px;
}
.marginTop20 {
    margin-top: 20px;
}
.marginTop30 {
    margin-top: 30px;
}
.marginTop40 {
    margin-top: 40px;
}
.marginTop50 {
    margin-top: 50px;
}