<template name="tmp_signin">
    <div class="container">
        <h3>Sign in</h3>
        <p>You can <a href="/signup">sign up</a> to save list.</p>
        <form role="form" class="form-horizontal">
            <div class="form-group">
                <label for="exampleInputEmail1" class="control-label col-md-2">Email address</label>
                <div class="col-md-4">
                    <input id="inpSigninEmail" type="email" class="form-control input-lg" id="exampleInputEmail1" placeholder="Enter email">
                </div>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1" class="control-label col-md-2">Password</label>
                <div class="col-md-4">
                    <input id="inpSigninPwd" type="password" class="form-control input-lg" id="exampleInputPassword1" placeholder="Password">
                </div>
            </div>
            <button type="submit" class="btn btn-default btn-lg col-md-offset-2">Sign in</button>
        </form>
        <p><a id="hplforgot" href="#">Forgot Password</a></p>
    </div>
</template>