<template name="tmp_dashboard">
    <div>
        <div class="col-md-2 marginTop50">
            <center>
                <div class="btn-group-vertical marginTop20">
                    <button type="button" class="btn btn-default">Todo</button>
                    <button type="button" class="btn btn-default">Notes</button>
                    <button type="button" class="btn btn-default">Coming Soon</button>
                </div>
            </center>
        </div>
        <div class="col-md-3 marginTop50">
            list
        </div>
        <div class="col-md-7 marginTop50">
            content
        </div>
    </div>
</template>