<template name="tmp_note">
    <div class="container">
        <div class="marginTop20">
            <a class="btn btn-primary" href="/note/editor">Create Note</a>
        </div>
        {{#each notes}}
        <div class="panel panel-default marginTop20">
            <div class="panel-body">
                <h1>{{Title}}</h1>
                {{Content}}
            </div>
            <div class="panel-footer">
                {{CreatedAt}}
            </div>
        </div>
        {{/each}}
    </div>
</template>