<template name="tmp_signup">
    <div class="container">
        <h3>Sign up to save lists</h3>
        <form role="form" class="form-horizontal">
            <div class="form-group">
                <label for="inpSignupName" class="control-label col-md-2">Name</label>
                <div class="col-md-4">
                    <input id="inpSignupName" type="text" class="form-control input-lg" placeholder="Enter name">
                </div>
            </div>
            <div class="form-group">
                <label for="inpSignupUserName" class="control-label col-md-2">Username</label>
                <div class="col-md-4">
                    <input id="inpSignupUserName" type="text" class="form-control input-lg" placeholder="Enter name">
                </div>
            </div>
            <div class="form-group">
                <label for="inpSignupEmail" class="control-label col-md-2">Email address</label>
                <div class="col-md-4">
                    <input type="email" class="form-control input-lg" id="inpSignupEmail" placeholder="Enter email">
                </div>
            </div>
            <div class="form-group">
                <label for="inpSignupPwd" class="control-label col-md-2">Password</label>
                <div class="col-md-4">
                    <input type="password" class="form-control input-lg" id="inpSignupPwd" placeholder="Password">
                </div>
            </div>
            <div class="form-group">
                <label for="inpSignupRePwd" class="control-label col-md-2">Confirm Password</label>
                <div class="col-md-4">
                    <input type="password" class="form-control input-lg" id="inpSignupRePwd" placeholder="Confirm Password">
                </div>
            </div>
            <button type="submit" class="btn btn-default btn-lg col-md-offset-2">Sign Up</button>
        </form>
    </div>
</template>