<template name="tmp_header">
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="nav nav-pills">
                        <li>
                            <a  style="color: black;" href="/">numpuk.io</a>
                        </li>
                        {{#if loggedin}}
                        <li id="liNotes">
                            <a href="/notes">Notes</a>
                        </li>
                        <li id="liLists">
                            <a href="/list">Lists</a>
                        </li>
                        <li>
                            <a id="hplSignout" href="/">Sign Out</a>
                        </li>
                        {{else}}
                        <li id="liSignIn">
                            <a href="/signin">Sign In</a>
                        </li>
                        <li id="liSignUp">
                            <a  href="/signup">Sign Up</a>
                        </li>
                        {{/if}}
                    </ul>
                </div>
            </div>
        </div>
    </header>

</template>
