<template name="tmp_note_editor">
    <div class="container">
        <div class="panel panel-default marginTop20">
            <form role="form" class="form">
                <div class="panel-body">

                    <div class="form-group">
                        <input id="title" type="text" class="form-control" placeholder="untitled note" />
                    </div>
                    <div class="form-group">
                        <textarea id="content" type="email" class="form-control" style="min-height:200px;" placeholder="Content"></textarea>
                    </div>
<!--
                    <div class="form-group">
                        <input id="shareable" type="checkbox" checked>
                        <label class="control-label col-md-2">Shareable</label>         
                    </div>
                    <div class="form-group">
                        <input id="editable" type="checkbox" checked>
                        <label class="control-label col-md-2">Editable</label> 
                    </div>
-->
                </div>
                <div class="panel-footer">
                    <button class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</template>